.resident {
  font-size: 1rem;
  width: 100%;
  max-width: 350px;
  background-color: #062226;
  color: white;
  border-radius: 0.8em;
  overflow: hidden;
}

.resident_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  transition: all 0.25s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
}

.resident_header {
  position: relative;
}

.resident_status {
  position: absolute;
  top: 15%;
  width: 40%;
  min-width: 100px;
  background-color: #062226;
  padding: 0.3em 0.8em;
  border-radius: 0 0.6em 0.6em 0;
  display: flex;
  align-content: center;
  gap: 1em;
}

.resident_cicle {
  display: block;
  width: 15px;
  border-radius: 50%;
  background-color: #ccc;
}

.Alive {
  background-color: rgb(14, 166, 14);
}

.unknown {
  background-color: rgb(243, 178, 0);
}

.Dead {
  background-color: red;
}